:root {
    --c-brand: #5865F2;
    --c-brand-light: #6b76f3;
    --c-badge-tip: #1bb69f;
}

html.dark {
    --c-brand: #5865F2;
    --c-brand-light: #6b76f3;
}

.home .hero img {
    max-width: 200px;
}